<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodGlucose"
        tools:targetApi="31">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".SugarGraphActivity"></activity>
        <activity android:name=".TodayActivity"></activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".GlucoseActivity"></activity>
        <activity android:name=".ProductActivity"></activity>
        <activity android:name=".AdviceActivity"></activity>

        <activity android:name=".AddProductActivity"></activity>
        <activity android:name=".DairyActivity"></activity>
        <activity android:name=".GroceryActivity"></activity>
        <activity android:name=".ListMedsActivity"></activity>
        <activity android:name=".MeatFishActivity"></activity>
        <activity android:name=".PastrSweetsActivity"></activity>
        <activity android:name=".VegsFruitsActivity"></activity>

        <activity android:name=".AddExerciseActivity"></activity>
        <activity android:name=".AddMedsActivity"></activity>
        <activity android:name=".ListExercisesActivity"></activity>

        <activity android:name=".PillsMedActivity"></activity>
        <activity android:name=".InsulinMedActivity"></activity>

        <activity android:name=".CardioExerActivity"></activity>
        <activity android:name=".StaticExerActivity"></activity>
        <activity android:name=".PowerExerActivity"></activity>

        <activity android:name=".TodayProductsActivity"></activity>
        <activity android:name=".TodayMedsActivity"></activity>
        <activity android:name=".TodayExercisesActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.bloodglucose.debug.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>